*{
  font-family: 'Roboto', sans-serif;
  padding:0;
  margin:0;
}

body{
  background-color: white;
  background-image: linear-gradient(45deg, #ff9aa2 8.33%, #ffb7b2 8.33%, #ffb7b2 16.67%, #ffdac1 16.67%, #ffdac1 25%, #e2f0cb 25%, #e2f0cb 33.33%, #bfead7 33.33%, #bfead7 41.67%, #c7ceea 41.67%, #c7ceea 50%, #ff9aa2 50%, #ff9aa2 58.33%, #ffb7b2 58.33%, #ffb7b2 66.67%, #ffdac1 66.67%, #ffdac1 75%, #e2f0cb 75%, #e2f0cb 83.33%, #bfead7 83.33%, #bfead7 91.67%, #c7ceea 91.67%, #c7ceea 100%);
  background-size: 169.71px 169.71px;
  height: 200px;
  width: 100%;
}

#nav{
  background-color: #ee5965;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin:auto;
  margin-bottom:25px;
}

#nav > div > a{
  text-decoration: none;
  color: #fff8f3;
}

#nav > div > a:hover{
  color: black;
}

h1{
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 2px 2px 25px #8a2831;
}

img{
  width:300px;
  margin-left:25px;
}
/*
#canvas_1{
  height:200px;
  width:200px;
  background-size:cover;
  background-image: url("BH6 Socks-04 copy.png");

}
*/
div{
  margin: left 15px;
  margin-right:15px;
}

h2{
  text-align: center;
  color: #ee5965;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 25px;
  padding-bottom:5px;
  padding-top:5px;
  text-shadow: 2px 2px 50px #fe0183;
  background-color:white;
}

h3{
  background-color:white;
  max-width:250px;
  margin-top:15px;
  margin-left:50px;
  margin-right:auto;
  padding:15px;
  text-align: center;
}

h4{
  text-align:center;
  margin-top:15px;
  padding:10px;
  background-color:white;
  max-width:500px;
  margin-left: auto;
  margin-right:auto;
}

img{
  max-width:500px;
  margin-top:0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.pic {
  display: block;
  margin-left: 350px;
  margin-top:-330px;
  margin-right: auto;
  margin-bottom:50px;
  width: auto;
}

.triangle{
  margin-left:auto;
  margin-right:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.product{
  padding:50px;
  margin-left:auto;
  margin-right:auto;
}

.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 25%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}